body{
    width: 61.8%;
    margin: auto;
}

p, h1, h2, h3, li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}

header span{
    font-size: 40%;
    color: darkgoldenrod;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav ul li{
    list-style-type: none;
    padding: 15px;
}

body main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body main section{
    width: 70%;
    text-align: center;
    background-color:beige;
    padding: 20px;
}

body main section div{
    text-align: left;
}

body main aside{
    width: 30%;
    text-align: center;
    background-color: burlywood;
}

body main aside img{
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body footer{
    text-align: center;
    background-color: cornsilk;
}

body footer p{
    padding: 25px;
    margin: 0;
}